// Font sizes (primary sizing in `rem` units with a fallback of `px`)
// Example usage @include font-size(18);
@mixin font-size($size) {
  $remValue: $size / 16;
  $pxValue: ($size);
  font-size: $pxValue + px;
  font-size: $remValue + rem;
}

// Line height sizes (primary sizing in `rem` units with a fallback of `px`)
// Example usage @include line-height(22);
@mixin line-height($size) {
  $remValue: $size / 16;
  $pxValue: ($size);
  line-height: $pxValue + px;
  line-height: $remValue + rem;
}

@mixin clearfix() {
  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

// Text truncate
// Requires inline-block or block for proper styling
@mixin text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin cover() {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

// CSS image replacement
@mixin text-hide() {
  background-color: transparent;
  border: 0;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}

// Hide Visually
// Hide but keep in DOM for Screen Readers
@mixin hide-visually() {
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// Overflow Scroll
@mixin overflow-scroll() {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

@mixin overflow-y-scroll() {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

@mixin overflow-x-scroll() {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

@mixin from($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin until($device) {
  @media screen and (max-width: $device - 1px) {
    @content;
  }
}

@mixin mobile() {
  @media screen and (max-width: $tablet - 1px) {
    @content;
  }
}

@mixin tablet() {
  @media screen and (min-width: $tablet), print {
    @content;
  }
}

@mixin tablet-only() {
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    @content;
  }
}

@mixin touch() {
  @media screen and (max-width: $desktop - 1px) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin desktop-only() {
  @media screen and (min-width: $desktop) and (max-width: $widescreen - 1px) {
    @content;
  }
}

@mixin widescreen() {
  @media screen and (min-width: $widescreen) {
    @content;
  }
}

@mixin widescreen-only() {
  @media screen and (min-width: $widescreen) and (max-width: $fullhd - 1px) {
    @content;
  }
}

@mixin fullhd() {
  @media screen and (min-width: $fullhd) {
    @content;
  }
}
